.event-card-medium{
    transition: box-shadow 0.3s ease-in-out;
    padding: 10px 10px 10px 10px;
    border-bottom: 2px white;
    border-style: solid;
}

.event-card-medium:last-child{
    transition: box-shadow 0.3s ease-in-out;
    padding: 10px;
    margin:0;
    border-bottom: 2px white;
}

.event-card-medium:hover, .user-card-medium:hover {
    box-shadow: 2px 2px 20px grey;
    transition: box-shadow 0.3s ease-in-out;
}

.event-card-medium img, .user-card-medium img {
    width: 100%;
    height: auto;
}

.text-card {
    font-weight: bold;
}

.classifica-card {
    color: rgb(225,121,89);
}

.titulo-card {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 0px;
    height: 40px;
    overflow: hidden;
}

.buy-btn{
    padding: 0px;
}

.buy-btn a.btn.btn-default{
    width: 60%;
    background-color: #337ab7;
    color: white;
}

.buy-btn a.btn.btn-default:hover{
    background-color: #2e6da4;
}

.submit-btn{
    padding: 0px;
}

#submit_editor{
    padding: 0px;
    min-width: 50px;
    background-color: #F0F8FF;
    color: #7b8087;
    font-weight: bold;
}

#submit_editor:hover{
    background-color: #e9e9e9;
}

.user-photo{
    float: right;
}

.eve-info{
    margin-bottom: 10px;
}

/*MAIN EVENT PAGE*/

.event-main-page .manage{
    display: block;
}

.event-main-page .manage {
    position:relative;
}

.event-main-page .manage a{
    position:absolute;
    bottom:2rem;
    right:2rem;
    background-color: #F0F8FF;
    color: royalblue;
}

.navbar-slide {
    background-color: #F0F8FF;
    border-radius: 0;
}

.navbar-slide > ul > li {
    float:left;
}

.event-main-page img{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.navbar-slide li a:hover {
    background-color: transparent;
}

.navbar-slide li .active{
    border-bottom: 3px solid lightblue;
    background-color: transparent;
}

.going-select{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding: 3px;
    position: relative;
    margin-top: 15px;
    width: 90%;
    color: royalblue;
}

.event-information{
    padding-left: 25px;
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    color: grey;
    border-bottom: 1px solid lightblue;
}

.event-information .event-name{
    font-size: 3.5rem;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.event-month{
    margin-top: 20px;
    font-size: 1.9rem;
    color: red;
    text-transform: uppercase;
}

.event-day{
    margin-top: 2rem;
    font-size: 2.3rem;
    color: black;
}

.event-main-page .user-photo img{
    width: 6rem;
    height: 6rem;
    border-radius: 100px;
    box-shadow: 1px 1px 1px grey;
    transition: box-shadow 0.3s ease-in-out;
    /*overflow: hidden;*/
}

.event-main-page button{
    background-color: transparent;
    border: 0px solid transparent;
}

button:focus {
    outline: 0 !important;
}

.event-comments button:hover {
    color: royalblue;
}

.event-info-date{
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9rem;
    margin-top: 2rem;
    padding-left: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightblue;
}

.event-description{
    margin-top: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9rem;
    padding-bottom: 15px;
}

.map-section{
    margin-top: 2rem;
}


.navbar-fixed-second-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (min-width: 768px) {
    .navbar-fixed-second-top{
        border-radius: 0;
    }
}

.navbar-fixed-second-top {
    padding: 0 20%;
    top: 73px;
    border-width: 0 0 1px;
}

@media (max-width: 880px) {
    .navbar-fixed-second-top{
        padding: 0px;
    }
}

.event-comments{
    margin-top: 2rem;
}

.comment{
    margin-bottom: 1rem;
}

.comment .panel-body{
    color: grey;
}

.comment:not(:first-child){
    padding-top: 2rem;
    border-top: 1px solid rgba(154, 207, 234, 0.5);
}

.comment .panel-body img{
    width: 80%;
    margin-left: 15%;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: royalblue;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: lightblue;  }


.page-header #guest-area{
    margin-top: 20px;
    padding-top: 20px;
}